* {
    margin: 40px;
}

body {
    background-color: #c5f1b9b4;
}

.content,
button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(1, 3, 8, 0.788);
}

button {
    background-color: rgba(119, 173, 91, 0.781);
    color: white;
    cursor: pointer;
    display: block;
    width: auto;
}

button:hover {
    background-color: rgba(72, 150, 90, 0.87);
}

.container,
content,
h1 {
    background-color: rgba(62, 65, 63, 0.87);
    text-align: center;
    color: white;
    margin-top: 70px;
}
